[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
jinja2 = "*"
python-multipart = "*"
semantic-kernel = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
